*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(26, 131, 229), rgb(206, 117, 238));
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgb(113, 3, 3);
    background-color: rgb(207, 100, 155);
}
.header h1{
    color: #000000;
    padding: 15px;
}
.body{
    flex: 1;
    color: #fff;
    background-color: rgb(7, 52, 124);
    padding: 20px 30px;
}
.message{
    background-color: rgb(112, 185, 242);
    padding: 10px;
    color: #000000;
    width:fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}
.user_message{
    margin-left: auto;
    background-color: #e19ddba4;
    border-radius: 10px;
    color: black;
}
.footer form{
    display: flex;
}
form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}
form button{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  rgb(112, 185, 242);
    color: #000000;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(222, 91, 143);
    transition: 0.3s ease;
}